<ProgramInfo>
  <RequiredInfo>
    <FriendlyName>SaunaLogic_10</FriendlyName>
    <SystemName>SaunaLogic 1.0</SystemName>
    <EntryPoint>SaunaLogic 1.0</EntryPoint>
    <MinFirmwareVersion>1.007.0017</MinFirmwareVersion>
    <ProgramTool>SIMPL# Plugin</ProgramTool>
    <DesignToolId>5</DesignToolId>
    <ProgramToolId>5</ProgramToolId>
    <ArchiveName />
  </RequiredInfo>
  <OptionalInfo>
    <CompiledOn>1/19/2026 4:38:49 PM</CompiledOn>
    <CompilerRev>1.0.0.29964</CompilerRev>
  </OptionalInfo>
  <Plugin>
    <Version>Crestron.SIMPLSharp, Version=2.0.58.0, Culture=neutral, PublicKeyToken=812d080f93e2de10</Version>
    <Include4.dat>2.21.184</Include4.dat>
  </Plugin>
</ProgramInfo>